* {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    background-color: #2694ab;
}
  
li {
    float:right;
    font-size:x-large;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}
  
li a:hover {
    text-decoration:underline #ea7070 3.5px;    
}

#title {
    font-size:xx-large;
    font-family: 'Open Sans', sans-serif;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #2f7798;
    color: #F0FDFA;
    
} 

#banner {
    width: 100%;
    background-position: center;
}

.banner-with-text {
    position: relative;
    text-align: center;
    color: #F0FDFA;
}

.bottom-right-text {
    font-size: medium;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 11px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏄</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }  

#pic {
    position: absolute;
    bottom: 20px;
    left: 26px;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #F0FDFA;
    border-width: 2px;
}

@media (min-width:320px)  { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 60px;
        height: auto;
    }
}
@media (min-width:801px)  { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 100px;
        height: auto;
        
    }
}
@media (min-width:1025px) { 
    #pic {
        position: absolute;
        bottom: 45px;
        left: 26px;
        max-width: 150px;
        height: auto;
        
    }
}
@media (min-width:1281px) { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 150px;
        height: auto;
        
    }
}

body {
    margin: 0;
    background-color: #F0FDFA
  }

 .content {

    display: flex;
    background-color: #F0FDFA;
    /*margin-right: 300px;*/
    margin-right: 10vh;
  }

aside {
    text-align: right;
    color: #004065;
    background-color: #F0FDFA;
    padding: 14px 16px;
    /*width: 300px;*/
    width: 30vh;

}

.info p {
    text-align: left;
}

.info {
    margin-top: 26px;
}

 @media all {
    .info { flex: 3 0px; }
    .aside1 { order: 1; } 
    .info { order: 2; }
  }

#work-together-spacing {
    margin-bottom: 0px;
}

span a:visited{
    color:#ea7070;  
}

.container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
}
.item {
	box-sizing: border-box;
	padding: 1vh;
	flex: 1;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
@media (max-width:500px)  { 
    .item {
		flex-basis: 100%;
	}
}

.projecttile {
    max-height:100%;
    max-width:100%;
}
