/*default items for site*/
* {
    font-family: 'Open Sans', sans-serif;
    color: #004065;
}

/*navigation bar*/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,#ea7070, #077395);
    border-bottom: #F0FDFA solid 1px;
    
}
  
.nav-bar li {
    float:right;
    font-size:x-large;
}
  
.nav-bar li a {
    display: block;
    color: #F0FDFA;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}
  
.nav-bar li a:hover {
    text-decoration:underline #ea7070 3.5px;    
}

/*full name page title over banner*/
#title {
    font-size:xx-large;
    font-family: 'Homemade Apple', cursive;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #F0FDFA;
    
} 

/*banner*/
#banner {
    width: 100%;
    background-position: center;
}

.banner-with-text {
    position: relative;
    text-align: center;
}

/*easter egg surf emoji text*/
.bottom-right-text {
    color: #F0FDFA;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 11px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏄</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }  

/*profile headshot pic*/
#pic {
    position: absolute;
    bottom: 20px;
    left: 26px;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #F0FDFA;
    border-width: 1.5px;
}

/*video in the first item in the gallery*/
#video {
    width: 100%;
    height: auto;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

#video:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.video-parent:hover {
    cursor:pointer;
    filter:opacity(85%);
}

/*text over video*/
.video-text {
    text-align: center;
    vertical-align: middle;
    font-size: large;
    position: absolute;
    top: 40px;
    color: #F0FDFA;
    background-color: rgb(234, 112, 112, .7);
    line-height: 55px;
    width: 30%;
    pointer-events: none;
}

/*text over pics in work section*/
.pic-text1 {
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-size: large;
    position: absolute;
    top: 40px;
    color: #F0FDFA;
    background-color: rgb(234, 112, 112, .7);
    width: 30%;
    pointer-events: none;

}

.pic-text1:hover {
    cursor:pointer;
    filter:opacity(85%);
}

body {
    margin: 0;
    background-color: #F0FDFA;
  }

 .content {
    display: flex;
    background-color: #F0FDFA;
    margin-right: 10vh;
  }

aside {
    text-align: right;
    color: #004065;
    background-color: #F0FDFA;
    padding: 14px 16px;
    width: 30vh;
}

.info p {
    text-align: left;
}

.info {
    margin-top: 2%;
}

span a:link {
    color: #004065;
}

span a:visited{
    color:#ea7070;  
}

.container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
}

/*blur code for video and pic thumbnails under work section*/
.item {
	box-sizing: border-box;
	padding: 1vh;
	flex: 1;
    display:flex;
    justify-content: center;
}

.item:hover + .projecttile {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
/*
.pic-text1:hover + .projecttile {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}*/

.projecttile {
    max-height:100%;
    max-width:100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.projecttile:hover {
    cursor:pointer;
    filter:opacity(85%)
}

.contact-bar {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}
.info-item {
    width: 100%;
    height: auto;
    text-align: center;
}

.info-item a:link {
    text-decoration: none;
}

.info-item a:hover {
    text-decoration:underline #ea7070 3.5px;    
}

#connect-link:hover {
    color: #ea7070; 
    font-weight: bold; 
}

/*responsive and adaptive code... dear lord please work...*/
@media (min-width:320px)  { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 60px;
        height: auto;
    }
}

@media (min-width:801px)  { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 100px;
        height: auto;
        
    }
}

@media (min-width:1025px) { 
    #pic {
        position: absolute;
        bottom: 45px;
        left: 26px;
        max-width: 150px;
        height: auto;
        
    }
}

@media (min-width:1281px) { 
    #pic {
        position: absolute;
        bottom: 20px;
        left: 26px;
        max-width: 150px;
        height: auto;
        
    }
}

@media all {
    .info { flex: 3 0px; }
    .aside1 { order: 1; } 
    .info { order: 2; }
  }

@media (max-width:500px)  { 
    .item {
		flex-basis: 100%;
	}
}